

<header class="navbar navbar flex-md-nowrap p-0 shadow bg-secondary" 
 style=" height: 70px; 

   ">
    
    <a id="baslik"class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-light"href="#" routerLink="books">GutenBerg Project</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed"
     type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" 
     aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="btn-group">
     <input id="textfil" style="width: 350px;" [(ngModel)]="filterText" class="form-control form-control-dark shad" type="text"
    placeholder="Search" aria-label="Search" >
  <button onclick="document.getElementById('textfil').value = ''" class="btn custom-color" if="text-fill2" type="submit"(click)="newMessage()" routerLink=""style="  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  "><a class="text-light">Search</a>
      </button> </div>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap" *ngIf="isAuthentication(); else noAuthentication">
        <h6>Welcome , {{userName}}</h6>
        <button type="button" class="btn btn-success"(click)="logout()" routerLink="/books">
          Log Out</button>
       
      </div>
      <ng-template #noAuthentication>
      <div class="nav-item text-nowrap" >
        <button type="button" class="btn custom-color" routerLink="/login" ><a class="text-light">Login</a></button>
        <button type="button" class="btn custom-color" routerLink="/register"><a class="text-light">Register</a></button>
        
        </div>
      </ng-template>
   
    
     
    </div>
  </header>