

<header class="navbar navbar  flex-md-nowrap p-0 shadow" 
 style="background-color: coral; height: 70px; 

   ">
    
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"
     style="color: cornsilk;" routerLink="books">Books</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed"
     type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" 
     aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
     <input id="textfil" style="width: 500px;" [(ngModel)]="filterText" class="form-control form-control-dark" type="text"
    placeholder="Search" aria-label="Search" >
    
 </div>
     <button onclick="document.getElementById('textfil').value = ''" class="btn btn-outline-success" type="submit"(click)="newMessage()" routerLink="">Search</button>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap" *ngIf="isAuthentication(); else noAuthentication">
        
        <button (click)="logout()" routerLink="/books" >Log Out</button>
      </div>
      <ng-template #noAuthentication>
      <div class="nav-item text-nowrap" >
        <button routerLink="/login">Login</button>
        <button>Register</button>
        </div>
      </ng-template>
   
    
     
    </div>
  </header>