
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Project</h5>
  
          <p>
            Software Engineering Gutenberg Project
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h6 class="text-uppercase">Buket Gülgün -  180315071</h6>
          <h6 class="text-uppercase">Deyan Bora Çetin -  180315016</h6>
          <h6 class="text-uppercase">Baran Kalkan -  190315070</h6>
          <h6 class="text-uppercase">Ahmet Faruk Köseoğlu  -  180315007</h6>
          <h6 class="text-uppercase">Ali Bayram Çapraz  -  170315004</h6>
          <h6 class="text-uppercase">Rümeysa Karagöz  -  180315047</h6>
          
         
  
          <p>
            
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Buket-Baran-Bora-Ahmet-Ali-Rümeysa:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>