
<footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Project</h5>
  
          <p>
            Software Engineering Gutenberg Project
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h6> Buket Gülgün -  180315071</h6>
          <h6> Deyan Bora Çetin -  180315016</h6>
          <h6> Baran Kalkan -  190315070</h6>
          <h6> Rümeysa Karagöz -  180315047</h6>
          <h6> Ahmet Faruk Köseoğlu  -  180315007</h6>
          <h6> Ali Bayram Çapraz  -  170315004</h6>
          
         
  
          <p>
            
          </p>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 bg-secondary text-light">
      © 2021
      <a class="text-light">All Rights Reserved</a>
    </div>
    <!-- Copyright -->
  </footer>