<div *ngIf="message; else noMessage">
   
    <app-books></app-books>

</div>

<ng-template #noMessage>
   
  <table class="table table">
    <thead>
      <tr>
        
        <th scope="col">First</th>
        <th scope="col">Description</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>
          <div  *ngFor="let book of books">
            <div *ngIf="checkId(book.id)">
            <img src="https://www.gutenberg.org/cache/epub/{{book.id}}/pg{{book.id}}.cover.medium.jpg"
             class="img-fluid rounded-start" alt="..." width="550px" height="550px">
          </div></div>
        </td>
        <td>
          <div  *ngFor="let book of books">
            <div class="card-body" *ngIf="checkId(book.id)">
              <h5 class="card-title"> {{book.title}} </h5>
              <h6 class="card-title"> <p style="color: coral;">Subjects=></p> {{book.subjects}} </h6>
              <h6 class="card-text"><p style="color: coral;">Authors=></p>
               <ul *ngFor="let author of book.authors">
                 <li>  {{author.name}}</li>
               </ul>
              </h6>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              
             <a href="https://www.gutenberg.org/ebooks/{{book.id}}.html.images" (click)="addToUserBooks(book.id)"   class="btn btn-outline-success" target="blank">Oku</a>
               <button  class="btn btn-outline-success" (click)="addToFavBooks(book.id)" >Favori</button>
            </div>
            </div>
          
        </td>
        
      </tr>
     
    </tbody>
  </table>


   
      
       
</ng-template>