

<div class="row">
    <div  class="card custom-margin" *ngFor="let book of books | searchBook:message">
      <img class="card-img-top" src="https://www.gutenberg.org/cache/epub/{{book.id}}/pg{{book.id}}.cover.medium.jpg" 
      alt="...">
      <div class="card-body">
        <p class="card-title"  >Book number: {{book.id}}</p>
        <p class="card-text" ><b>Book Name: </b>{{book.title}}</p>
        <p class="card-text" *ngFor="let author of book.authors"><b>Author :</b> {{author.name}}</p>
       <div class="btn-vertical">
       <a href="https://www.gutenberg.org/ebooks/{{book.id}}.html.images" (click)="addToUserBooks(book.id)"  target="blank" class="btn bg-secondary text-light btn-sm">Oku</a>
       <button (click)="newMessage()" routerLink="/bookDetail/{{book.id}}"  class="btn cus-col btn-sm text-light" >Detay</button></div>

      <div class="col-md" *ngIf="isAuthentication()">
         <button (click)="addToFavBooks(book.id)" class="btn cus-col btn-sm text-light" >Favori</button></div></div>
      
      </div>
    </div>