<div class="sidebar-container" style="position: absolute;" >
    <div class="sidebar-logo">
      Project Name
    </div>
    <ul class="sidebar-navigation" *ngIf="isAuthentication(); else noAuthentication">
      <li class="header">Navigation</li>
      <li>
        <a routerLink="/userFavBooks">
          <i class="fa fa-home" aria-hidden="true"></i> Favori Kitaplarım
        </a>
      </li>
      <li>

        <a href="#">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Okuduğum Kitaplar
        </a>
      </li>
      <li class="header">Another Menu</li>
      <li>
        <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i> Friends
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-cog" aria-hidden="true"></i> Settings
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-info-circle" aria-hidden="true"></i> Information
        </a>
      </li>
    </ul>
    <ng-template #noAuthentication>
      <ul class="sidebar-navigation">
        <li>
          <a href="#">
            <i class="fa fa-users" aria-hidden="true"></i> Friends
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-cog" aria-hidden="true"></i> Settings
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Information
          </a>
        </li>
      </ul>
    </ng-template>
  </div>
  
  <div class="content-container">
  
    <div class="container">
  
      <!-- Main component for a primary marketing message or call to action -->
     
  
    </div>
  </div>
