<div fxLayoutAlign="center center" fxFlexFill class="box">
    <mat-card fxFlex="40" class="mat-elevation-z8">
        <mat-toolbar color="warn">Register Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field>
            <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button type="submit">Sign Up</button>
        </form>
    </mat-card>
</div>